  /* Create an accessible color palette using var()function */
  /* https://www.w3schools.com/css/css3_variables.asp */
  
  form {
    display: grid;
    grid-template-columns: 50% 50%;
    border: 1px solid #ccc;
    border-radius: 16px;
    width:70%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #702082;
    background: #CFC096;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .radio {
    grid-column-start: 1;
    grid-column-end: 3;
    /* background: #575294; */
    color: #702082;
  }

  #name {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    background: #ffffff;
    color: #9B9A6D;
  }

  #message {
    width: 100%;
    padding: 10px;
    resize: vertical;
  }

  input,
  textarea {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #45a049;
  }

  #bubbles {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap: 30px;
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

.skip a {
    position: absolute; 
    top: -40px;
}
  
.skip a:focus {
    position: absolute; 
    top: 20px;
}